{% extends "home/__base__.html" %}
{% block content %}
<div style="margin-top:30px;">
	
  <h2>缩略图</h2>
  
<div class="row">
    <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="/static/assets/img/logo.png"
                 alt="通用的占位符缩略图">
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
             <img src="/static/assets/img/logo.png"
                 alt="通用的占位符缩略图">
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="/static/assets/img/logo.png"
                 alt="通用的占位符缩略图">
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="/static/assets/img/logo.png"
                 alt="通用的占位符缩略图">
        </a>
    </div>
</div>


  
  
  
</div>

{% endblock %}