{% extends "base.html" %}
{% block body %}
{% load i18n %}
<div class="container theme-showcase" role="main">
    <div class="col-md-12 column jumbotron">
        
            <div class="text-center" /><h3 style="margin-top:-10px; ">{% trans 'Course Search' %}<h3></div>
            <a href='/courseinfo/classroom/' class="btn btn-lg btn-danger btn-block">{% trans 'Search by Classroom' %}</a><br>
            <a href='/courseinfo/coursename/1/' class="btn btn-lg btn-danger btn-block">{% trans 'Search by Course' %}</a><br>
            <a href='/courseinfo/teachername/1/' class="btn btn-lg btn-danger btn-block">{% trans 'Search by Teacher' %}</a><br>
            <a href='/courseinfo/teachername/1/' class="btn btn-lg btn-danger btn-block">{% trans 'Search by Teacher' %}</a>
                
    </div>

    <div class="col-md-12 column">
        <a href='/' class="btn btn-lg btn-success btn-block">{% trans 'Return' %}</a> 
    </div>
</div>
{% endblock %}