{% extends "base.html" %}
 {% load i18n %}
 {% block head %}
     <link href="/static/css/my_bootstra0.css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
 {% endblock %}

{% block body %} 

<div class="container">
   <div class="row" >
      <div class="col-xs-12 col-sm-6" 
      
         style="background-color: #fff;
         box-shadow: inset 1px -1px 1px #fff, inset -1px 1px 1px #fff;">       
         <a href='/index1/' class="btn btn-lg btn-danger btn-block" >按钮1</a>
         
      </div>
      <div class="col-xs-12 col-sm-6" 
         style="background-color: #fff;
         box-shadow: inset 1px -1px 1px #fff, inset -1px 1px 1px #fff;">       
         <a href='/index2/' class="btn btn-lg btn-danger btn-block" >按钮2</a>

         
      </div>

   </div>
</div>

{% endblock %}